    body {
        /* Visual */
        background: url('../images/basketball-floor.jpg');
        margin: 0;
        padding: 0;
    }
    
    .jumbotron {
        background-color: #7f0000;
        border: none;
    }
    
    .jumbotron h1,
    h3 {
        font-size: 36px;
        color: #fff;
    }
    
    div,
    form,
    input {
        margin: 10px;
        text-align: center;
    }
    
    .panel-default>.panel-heading {
        color: #fff;
        background-color: #7f0000;
        border-color: transparent;
    }
    
    .panel {
        margin: 30px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        width: 350px;
        height: 350px;
    }
    
    .panel-body {
        padding: 15px;
        margin-top: -20px;
    }
    
    label {
        text-align: center;
        font-size: 30px;
    }
    
    #add-player {
        color: #333;
        font-size: 17px;
        text-align: center;
    }
    
    input {
        width: 275px;
        height: 70px;
    }