    body {
        /* Visual */
        background: url('../images/basketball-floor.jpg');
    }
    
    .jumbotron {
        background-color: aquamarine;
    }
    
    .jumbotron h1,
    h3 {
        font-size: 36px;
        color: black;
    }
    
    div,
    form,
    input {
        margin: 10px;
    }
    
    #add-player {
        color: blue;
    }